<h3 class="how">What can AdHaul do for my business?</h3>


<ul>
    <li>AdHaul simply connects people who are wishing to market, with people looking to sell adspace on their vehicles.</li>
    <li>What seperates us from traditional advertising media, is our national network of vehicles that orbit around city's, highways, national roads and motorways.</li>
    <li>
        It is much better than stationary advertising as you can target people in a whole county or the country, instead of advertising in one particular area. 
    </li>
    <li>We offer cost effective, cross country/county, mobile advertising solutions.</li>
    <li>
        Our services are particularly useful to a company wishing to stregthen their brand awareness.
    </li>
</ul>

<h3 class="how">Imagine your company name on a vehicle like this.</h3>
<img src="../../../assets/decals.jpg" alt="" class="company">
<p class="fix">There is no limit to how many vehicles you may wish to advertise on and we do packages for large orders.</p>

<h3 class="fix">Get in contact now</h3>


<form action="">
<input type="text" placeholder="Name">
<input type="text" placeholder="Business Name">
<input type="email" placeholder="Email">
<input type="tel" placeholder="Phone number">
<select name="" id="">
    <option value="num">Number of vehicles to advertise on..</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5+</option>
</select>

<button type="submit" class="submitBtn">Send</button>

</form>