<div class="box-area">
    <div class="single-box">
        <div class="img-area">
            
        </div>
        <div class="img-text">
            <span class="header-text"><strong>Your vehicle</strong></span>
            <p>You come to us, with your vehicle that you drive around a lot, looking to rent adspace on the sides.</p>
        </div>
    </div>
    <div class="single-box">
        <div class="img-area">
            
        </div>
        <div class="img-text">
            <span class="header-text"><strong>Advertisement</strong></span>
            <p>We put an advertisement on your vehicle. It will be placed on the sides and the back. You can decide if you think the ad is suitable.  </p>
        </div>
    </div>
    <div class="single-box">
        <div class="img-area">
            
        </div>
        <div class="img-text">
            <span class="header-text"><strong>Get Paid</strong></span>
            <p>We pay you every month. Amount depends on size and type of vehicle. We can pay you via, bank transfer, PayPal or cash.</p>
        </div>
    </div>
</div>

<h3 class="how">Why Wait?</h3>
<p class="ass">Get in contact now to find out how much you can get paid.</p>

<input type="text" placeholder="Name">
<input type="email" placeholder="Email">
<input type="tel" placeholder="Phone number">
<select name="vehicle" id="" aria-placeholder="Type of vehicle..">
    <option value="SmallVan">Small Van</option>
    <option value="MediumVan">Medium Van</option>
    <option value="LargeVan">Large Van</option>
    <option value="SmallRigid">Small Rigid Truck</option>
    <option value="MediumRigid">Medium Rigid Truck</option>
    <option value="LargeRigid">Large Rigid Truck</option>
    <option value="Artic">Articulated Truck with Trailer</option>
</select>

<button type="submit" class="submitBtn">Send</button>