<h3 class="how">How it works</h3>

<div class="box-area">
    <div class="single-box">
        <div class="img-area">
            
        </div>
        <div class="img-text">
            <span class="header-text"><strong>Application</strong></span>
            <p>You make an application, to advertise on your vehicle that you drive around a lot.</p>
        </div>
    </div>
    <div class="single-box">
        <div class="img-area">
            
        </div>
        <div class="img-text">
            <span class="header-text"><strong>Wrap</strong></span>
            <p>If application is successful, we wrap your vehicle. Coverage area depends on contract. You can decide if you think the ad is suitable, no obligation.  </p>
        </div>
    </div>
    <div class="single-box">
        <div class="img-area">
            
        </div>
        <div class="img-text">
            <span class="header-text"><strong>Get Paid</strong></span>
            <p>We pay you every month. Amount depends on size and type of vehicle. We can pay you via, bank transfer or PayPal.</p>
        </div>
    </div>

    <div class="single-box">
        <div class="img-area">
            
        </div>
        <div class="img-text">
            <span class="header-text"><strong>Unwrap</strong></span>
            <p>At the end of the campaign, we will remove the wrap from your vehicle.</p>
        </div>
    </div>
</div>


<h3 class="how">Why Wait?</h3>
<p class="ass">Get in contact now to find out how much you can get paid.</p>

<input type="text" placeholder="Name" class="drive">
<input type="email" placeholder="Email" class="drive">
<input type="tel" placeholder="Phone number" class="drive">
<select name="vehicle" id="" aria-placeholder="Type of vehicle.." class="drive">
    <option value="SmallCar">Small Car</option>
    <option value="MediumCar">Medium Car</option>
    <option value="LargeCar">Large Car</option>
    <option value="SmallVan">Small Van</option>
    <option value="MediumVan">Medium Van</option>
    <option value="LargeVan">Large Van</option>
</select>


<button type="submit" class="submitBtn btn">Send</button>